<template>
    <div>
        <input type="text" v-model="note" @keyup.enter="createNote">
        <input type="button" value="Save" @click="createNote">
        <transition name="fade">
            <p v-if="error">{{ error }} </p>
        </transition>
    </div>
</template>

<script>
export default {
    name: 'NewNote',
    data () {
        return {
            note: '',
            error: ''
        }
    },
    methods: {
        createNote: function () {
            if (this.note !== '') {
                this.error = ''
                this.$store.dispatch('addNote', this.note)
                this.note = ''
            } else {
                this.error = 'Insert note!'
            }
        }
    }
}
</script>

<style lang="scss" scoped>
.fade-enter-active, .fade-leave-active {
    transition: opacity 2s;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}
</style>
