<template>
    <div>
        <h2>List</h2>
        <ol>
            <li v-for="note in firstFiveNotes" :key="note">
                {{ note }}
            </li>
        </ol>
        <input type="button" @click="deleteAllNotes" value="Delete All">
    </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
    name: 'NotesList',
    computed: {
        ...mapGetters(['firstFiveNotes'])
    },
    methods: {
        ...mapActions(['deleteAllNotes'])
    }
}
</script>
