<template>
  <div id="app">
    <NotesList />
    <NewNote />
  </div>
</template>

<script>
import NotesList from './components/NotesList.vue'
import NewNote from './components/NewNote.vue'

export default {
  name: 'app',
  components: {
    NotesList,
    NewNote
  }
}
</script>

<style lang="scss">
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
